* {
  box-sizing: border-box;
}

body,
html {
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
  font-family: "Open Sans", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00749a;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.content {
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(100, 100, 100, 0.3);
  margin: 3rem  auto;
  max-width: 600px;
  padding: 1rem;
} 

.title {
  font-size: 2rem;
  color: #424242;
  text-align: center;
}

.title > span {
  color: #00749a;
}

.img-logo{
  max-width: 100%;
  margin: 1em 0;
}

p {
  display: block;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 .5em;
  padding: 0;
  text-align: justify;
}

li {
  font-size: 0.9em;
  line-height: 1.5em;
}
.info, .info-2 {
  display: block;
  font-size: 1em;
  padding: 1em;
  text-align: center;
}
.info {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  color: #8A6D3B;
  margin-top: 2em;
  margin-bottom: 1em;
}
.info-2{
  background-color: #ddffde;
  border: 1px solid #c0e0c1;
  color: #3c763d;
  margin-bottom: 2em;
}

.message {
  font-size: 1rem;
}

.success {
  color: #3c763d;
}

.error {
  color: #a94442;
}

#join-form {
  display: block;
  margin-top: 1rem;
}

input[type="email"] {
  border: 1px solid #ddd;
  color: #666;
  display: inline-block;
  font-size: 1rem;
  height: 40px;
  outline: 0;
  padding: .5rem;
  width: 80%;
  font-weight: 700;
}

input[type="submit"] {
  background: #28a745;
  border: 1px solid #28a745;
  color: #fff;
  font-weight: 700;
  padding: .5rem;
  font-size: 1rem;
  cursor: pointer;
  width: 20%;
  height: 40px;
  outline: 0;
  float: right;
  display: inline-block;
}

input[type="submit"]:hover {
  background: #218838;
  border: 1px solid #1e7e34;
}

@media screen and (max-width: 600px) {
  input[type="submit"],
  input[type="email"] {
    margin: .3rem 0;
    width: 100%;
  }
  .info {
    margin-top: 1em;
    margin-bottom: .5em;
  }
  .info-2{
    margin-bottom: .5em;
  }
  .img-logo{
    margin: .5em 0;
  }
}